<!-- 实现车辆XUV25B对目标点的实时跟随效果 -->
<launch>
    <arg name="odom_topic_name" default="odom" />           <!--修改odom话题，里程计话题名-->
    <arg name="cmd_topic_name" default="cmd_XUV25B" />      <!--修改cmd话题，控制车辆运动的话题名-->
    <arg name="can0_port_name" default="can0" />             <!-- can0数据接口的名字 -->
    <arg name="can1_port_name" default="can1" />             <!-- can1数据接口的名字 -->

    <!-- 1.启动uwb模块，发布目标点相关数据 -->
    <include file="$(find uwb_follow)/launch/uwb_follow_start.launch"/>

    <!-- 2.发布车辆控制命令，车辆开始运动 -->
    <include file="$(find vehicle_control)/launch/run_XUV25B.launch">
        <arg name="odom_topic_name" default="$(arg odom_topic_name)" />
        <arg name="cmd_topic_name" default="$(arg cmd_topic_name)" /> 
        <arg name="can0_port_name" default="$(arg can0_port_name)" /> 
        <arg name="can1_port_name" default="$(arg can1_port_name)" /> 
    </include>

    <!-- 3.（可选）将车辆运动过程的路径进行记录，写入本地txt -->
    <!--
    <include file="$(find path_generator)/launch/path_record.launch">
        <arg name="odom_topic_name" default="$(arg odom_topic_name)"/>  当前记录的路径的里程计话题
    </include>
    -->

</launch>